{% macro hmpoRadios(ctx, params, base) %}
    {%- set params = hmpoGetParams(ctx, params, base) %}

    {%- set value = hmpoGetValue(ctx, params) %}

    {%- set classes = params.classes + " govuk-radios--inline" if params.inline else params.classes %}
    {%- set pageHeading = {
        legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
        }
    } if params.isPageHeading %}

    {%- set args = {
        idPrefix: params.id,
        name: params.id,
        fieldset: merge(pageHeading, {
            legend: hmpoGetOptions(ctx, params, "legend"),
            attributes: {
                id: params.id + "-fieldset",
                "aria-required": hmpoGetValidatorAttribute(ctx, params, "required")
            }
        }, params.fieldset),
        hint: hmpoGetOptions(ctx, params, "hint", true),
        errorMessage: hmpoGetError(ctx, params),
        type: params.type,
        classes: classes,
        formGroup: params.formGroup,
        items: hmpoGetItems(ctx, params, value, false, true)
    } %}

    {%- from "radios/macro.njk" import govukRadios %}
    {% if params.conditionals %}
        <div data-module="radios" class="radios-with-conditionals">
            {{- govukRadios(args) }}
            {% for key, conditional in params.conditionals %}
                {% from "hmpo-inset-text/macro.njk" import hmpoInsetText %}
                {% call hmpoInsetText({ id: conditional.id, classes: "govuk-radios__conditional" }) %}
                    {{ conditional.html | safe }}
                {% endcall %}
            {% endfor %}
        </div>
    {% else %}
        {{- govukRadios(args) }}
    {% endif %}

{% endmacro %}
