.hmpo-error-group {
    width: 100%;
}

.hmpo-error-group--inline {
    .govuk-form-group {
        display: inline-block;
    }

    .govuk-form-group:not(:last-child)  {
        margin-right: 1em;
    }
}

