
{% macro hmpoWarningText(params) %}
    {%- from "warning-text/macro.njk" import govukWarningText %}
    {{ govukWarningText(merge(params, { html: caller() if caller else params.html })) }}
{% endmacro %}
