.hmpo-auto-submit__spinner {
    background-image: hmpo-image-url("spinner.gif");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.js-enabled .hmpo-auto-submit {
    .hmpo-auto-submit__manual {
        opacity: 0;
    }
    .hmpo-auto-submit__spinner {
        display: inline-block;
    }
}

.hmpo-auto-submit {
    text-align: center;

    h1 {
        @extend .govuk-heading-m;
    }
    div {
        margin-bottom: 4em;
    }
    .hmpo-auto-submit__spinner {
        display: none;
    }
    .hmpo-auto-submit__help {
        display: none;
    }
}

.hmpo-auto-submit.hmpo-auto-submit__show-help {
    .hmpo-auto-submit__help {
        display: block;
    }
}

.hmpo-auto-submit.hmpo-auto-submit__show-manual {
    .hmpo-auto-submit__spinner {
        display: none;
    }
    .hmpo-auto-submit__manual {
        opacity: 1;
    }
}
