
.hmpo-cookie-banner {
    @include govuk-font($size: 16);
    @include govuk-text-colour;

    width: 100%;

    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
    background-color: tint-25(govuk-colour("light-blue"));
}

.js-enabled .hmpo-cookie-banner {
    display: none;
}

.hmpo-cookie-banner__message {
    @include govuk-width-container;
    margin-top: 0;
    margin-bottom: 0;
}

@media print {
    .hmpo-cookie-banner {
        display: none !important;
    }
}

