
.hmpo-cookie-banner {
    @include govuk-font($size: 19, $line-height: 1.25);
    @include govuk-text-colour;

    background-color: govuk-colour("light-grey");
    margin: 0;
    padding: govuk-spacing(4) 0;
}

.hmpo-cookie-banner__button-wrapper {
    padding: 0;
}

.hmpo-cookie-banner__text {
    margin: 0 0 govuk-spacing(2);
}

.hmpo-cookie-banner__button {
    @include mq($until: desktop) {
        width: 100%;
        margin: 0 0 govuk-spacing(4) 0;
    }

    @include mq($from: desktop) {
        width: 90%;
        margin: 0 govuk-spacing(2) govuk-spacing(1) 0;
    }
}

.js-enabled .hmpo-cookie-banner {
    display: none;
}

.hmpo-cookie-banner__message {
    @include govuk-width-container;

    margin:0 !important;

    @include mq($until: desktop) {
        padding: 0 0 govuk-spacing(2) 0;
    }

    @include mq($from: desktop) {
        padding: 0 govuk-spacing(4) govuk-spacing(2) 0;
    }
}

@include mq($media-type: print) {
    .hmpo-cookie-banner {
        display: none !important;
    }
}
