{
    "env": {
        "node": true,
        "mocha": true,
        "browser": true
    },
    "globals": {
        "sinon": true,
        "expect": true,
        "render": true,
        "cleanHtml": true
    }
}
