.hmpo-inset-info {
    border-color: govuk-colour("blue", $variant: "tint-25");
    background-color: mix(govuk-colour("blue", $variant: "tint-25"), white, 10);
}

.hmpo-inset-success {
    border-color: govuk-colour("teal");
    background-color: mix(govuk-colour("teal"), white, 10);
}
