.hmpo-inset-info {
    border-color: govuk-colour("light-blue");
    background-color: mix(govuk-colour("light-blue"), white, 10);
}

.hmpo-inset-success {
    border-color: govuk-colour("turquoise");
    background-color: mix(govuk-colour("turquoise"), white, 10);
}
