
{% macro hmpoInsetText(params) %}
    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
    {{ govukInsetText(merge(params, { html: caller() if caller else params.html })) }}
{% endmacro %}
