main p, .word-wrap {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.normal-wrap {
    white-space: normal;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
}

.no-wrap {
    white-space: nowrap;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: keep-all;
}
