{% macro hmpoSelect(ctx, params, base) %}
    {%- set params = hmpoGetParams(ctx, params, base) %}

    {%- set value = hmpoGetValue(ctx, params) %}

    {%- set args = {
        id: params.id,
        name: params.id,
        label: hmpoGetOptions(ctx, params, "label"),
        hint: hmpoGetOptions(ctx, params, "hint", true),
        errorMessage: hmpoGetError(ctx, params),
        type: params.type,
        classes: params.classes,
        formGroup: params.formGroup,
        autocomplete: params.autocomplete,
        attributes: hmpoGetAttributes(ctx, params, {
            "aria-required": hmpoGetValidatorAttribute(ctx, params, "required")
        }),
        items: hmpoGetItems(ctx, params, value)
    } %}

    {%- from "select/macro.njk" import govukSelect %}
    {{- govukSelect(args) }}
{% endmacro %}
