
{% macro hmpoClose(params) %}
    {%- from "button/macro.njk" import govukButton %}
    {{ govukButton({
        type: "button",
        attributes: {
            "data-module": "hmpo-close",
            "style": "display: none"
        },
        html: params.html,
        text: params.text | default("Close")
    }) }}
{% endmacro %}
