
{% macro hmpoNumber(ctx, params, base) %}
    {%- from "../hmpo-text/macro.njk" import hmpoText %}

    {{- hmpoText(ctx, params, {
        classes: "govuk-input--width-10",
        inputMode: "numeric",
        attributes: {
            pattern: "[0-9]"
        }
    }, base) }}
{% endmacro %}
