
{% macro hmpoCircleStep(params) %}
<li class="circle-step{%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    <span class="circle-step-circle{%- if params.circleClasses %} {{ params.circleClasses }}{% endif %}">{{ params.number }}</span>
    {% if params.title %}<h2>{{ params.title }}</h2>{% endif %}<p>{{ params.html | safe if params.html else params.text }}</p>
</li>
{% endmacro %}
