
{% macro hmpoDetails(params) %}
    {%- from "govuk/components/details/macro.njk" import govukDetails %}
    {{ govukDetails(merge(params, { html: caller() if caller else params.html })) }}
{% endmacro %}
